@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
	background: url("../Images/Background_mobile.jpg") no-repeat;
	background-size: cover;
}
.banner{
	padding:5%;
	margin:15% 0;
}
.banner img{
	display: block;
	margin: 0 auto;
	width:100%;
}
.organisation, .instructor, .student{
	margin:12% auto;
	width: fit-content;
	border-radius:6%;
	cursor:pointer;
} 
.organisation{
	background:#edb230;
}
.instructor{
	background:#245d74;
}
.student{
	background:#be4162;
}

.organisation img, .instructor img, .student img{
	display: block;
	margin: -1% auto;
	border-radius:6%;
	width: 100%;
}
.organisation h3, .instructor h3, .student h3{
	margin-top:-10%;
	padding:4%;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 42pt;
	color:white;
}
.organisation a, .instructor a, .student a{
	text-decoration: none;
}
/*------------ MEDIA QUERIES -------------- */

@media screen and (min-width:1025px){
	body{
		background: url("../Images/Background.png") no-repeat;
		background-size: cover;
	}
	.banner{
		padding:3%;
		margin:1% 0;
	}
	.banner img{
		width:40%;
	}
	.organisation, .instructor, .student{
		margin:2% 4%;
		width: 13%;
		float:left;
		transition: 0.8s;
	} 
	.organisation{
		margin-left:22%;
	}
	.organisation img, .instructor img, .student img{
		margin: 1% auto;
		width: 76%;
	}
	.organisation:hover, .instructor:hover, .student:hover{
		width:17%;
	}
	.organisation h3, .instructor h3, .student h3{
		margin-top:-6%;
		padding:2%;
		font-size: 19pt;
	}
}

@media screen and (min-width:1200px){

	.banner img{
		width:45%;
	}
	.organisation, .instructor, .student{
		margin:1% 5%;
		width: 15%;
	} 
	.organisation{
		margin-left:17%;
	}

}