<!DOCTYPE html>
<html>
<head>
	<title>Shaala Loka</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/title_logo.ico') }}">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="/home">
                <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" alt="Shaala Loka Logo"/>
            </a>
  	    </div>
    </nav>

    <h2 class="heading">Login</h2>
    <h4 class="login-link"> Don't have an account? <br>
    <a href="/organization-registration"> Organization Registration</a> |
    <a href="/instructor-registration"> Instructor Registration</a> |
    <a href="/student-registration"> Student Registration</a></h4>

    {% if error %}
        <p class="login-link" style="color: red;"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <p class="login-link" style="color:green;">{{ message }}</p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="login-form">
  		<br>
        <form action = "/login" method = "POST">
            <br>
            <input type="text" name="id" id="id" placeholder="ID" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
  		    <button name="submit" type="submit"> Sign In </button>
        </form>
    </div>
</body>
</html>