@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
	font-family: 'Lora', serif !important;
}
html,body{
	min-height: 90vh !important;
    height: 90vh;
}
body{
	background: url("assets/Background_mobile.jpg") no-repeat;
	background-size: cover;
	font-family: 'Lora', serif;
}
.banner{
	padding:5%;
	margin:15% 0;
}
.banner img{
	display: block;
	margin: 0 auto;
	width:100%;
}
.organisation, .instructor, .student{
	margin:12% auto;
	width: fit-content;
	border-radius:6%;
	cursor:pointer;
} 
.organisation{
	background:#edb230;
}
.instructor{
	background:#245d74;
}
.student{
	background:#be4162;
}

.organisation img, .instructor img, .student img{
	display: block;
	margin: -1% auto;
	border-radius:6%;
	width: 100%;
}
.organisation h3, .instructor h3, .student h3{
	margin-top:-10%;
	padding:4%;
	
	text-align: center;
	font-size: 42pt;
	color:white;
	text-transform: capitalize;
}
.organisation a, .instructor a, .student a{
	text-decoration: none;
}
.org-nav-w3 span a, .inst-nav-w3 span a, .stu-nav-w3 span a{
	text-decoration: none;
}
.org-nav-w3 span:hover a{
	background:#edb230;
	color: white;
}
.inst-nav-w3 span:hover a{
	background:#245D74;
	color:white;
}
.stu-nav-w3 span:hover a{
	background:#8e4162;
	color:white;
}


/*--------- Orgaization account ----------*/

.welcome h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 52pt;
	padding:4%;
	margin-top: 5%;
}
.org-container .instructor, .org-container .student{
	position: static;
	margin:12% auto;
	width: fit-content;
}

/*------------ MEDIA QUERIES -------------- */

@media screen and (min-width:992px){
	body{
		background: url("assets/Background.png") no-repeat;
		background-size: cover;
	}
	.banner{
		padding:3%;
		margin:1% 0;
	}
	.banner img{
		width:40%;
	}
	.organisation, .instructor, .student{
		position: absolute;
		margin:2% 4%;
		width: 13%;
		float:left;
		transition: 0.8s;
	} 
	.organisation{
		margin-left:22%;
	}
	.instructor{
		margin-left:42%;
	}
	.student{
		margin-left:62%;
	}
	

	.organisation img, .instructor img, .student img{
		margin: 1% auto;
		width: 76%;
	}
	.organisation:hover, .instructor:hover, .student:hover{
		width:15%;
	}
	.organisation h3, .instructor h3, .student h3{
		margin-top:-6%;
		padding:2%;
		font-size: 19pt;
	}
	/*--------------------------- W3 EXTRA NAV CSS-----------------------*/
	.org-nav-w3 span a, .inst-nav-w3 span a, .stu-nav-w3 span a{
		text-decoration: none;
	}
	.org-nav-w3 span:hover a{
		background:#edb230;
		color: white;
	}
	.inst-nav-w3 span:hover a{
		background:#245D74;
		color:white;
	}
	.stu-nav-w3 span:hover a{
		background:#8e4162;
		color:white;
	}

	/*------- ORGANISATION ACCOUNT -------*/
	.welcome h2{
		font-size: 25pt;
		padding:1%;
		margin-top: 2%;
	}
	.org_heading h2{
		font-size: 25pt;
		padding:1%;
		margin: 4% auto;
		width:fit-content;
	}
	.container {
		background: rgba(0,0,0,0.7);
		width:48%;
		height:310px;
		margin:1% auto;
		border-radius:8px;
	}
	.org-container .instructor, .org-container .student{
		position: absolute;
		margin:5% 7%;
		width: 14%;
		float:left;
		transition: 0.8s;
	}
	.org-container .instructor{
		margin-left: 28%;
	}
	.org-container .student{
		margin-left: 55%;
	}
	.org-container .instructor:hover, .org-container .student:hover{
		width:16%;
	}
	.org-nav-buttons, .instr-nav-buttons, .stud-nav-buttons{
		width: 30%;
		height:79px;
		float: right;
		margin-top: -5.3%;
	}
	.org-nav-buttons li, .instr-nav-buttons li, .stud-nav-buttons li{
		margin:-3% 5%;
		height: 76px;
		list-style: none;
		display: inline-flex;
		text-transform: capitalize;
		width:30%;
		text-align: center;
	}
	.org-nav-buttons li:hover{
		background: #edb230;
	}
	.instr-nav-buttons li:hover a{
		background:#245d74;
		color:white;
	}	
	.stud-nav-buttons li:hover a{
		background:#8e4162;
		color:white;
	}
	.org-nav-buttons a, .instr-nav-buttons a, .stud-nav-buttons a, .inst-nav-buttons a, .stu-nav-buttons a{
		text-decoration:none;
		color:black;
		font-size:14pt;
		margin:auto;
		height:76px;
		line-height: 35px;
		width:110px;
		text-align: center;
	}
	.table{
		margin: 2% 0 5% 2% ;
		width:75%;
	}
	.modal-body table{
		border:1px solid black;
		border-collapse: collapse;
	}
	.table th, .modal-body th{
		background: white;
	}
	.table table, .modal-body table{
		width: 100%;
		overflow-x:auto;
	}
	.table th, .table td, .modal-body th, .modal-body td{
		text-transform: capitalize;
		font-size:14pt;
		padding:1%;
		text-align: center;
		white-space: nowrap;
	}
	.table table>tbody>tr:nth-child(even)>td, .modal-body table>tbody>tr:nth-child(even)>td{
	    background-color: #e1e2e3;
	}
	.table .table-email{
		text-transform: lowercase;
	}
	#check{
		margin-top:-2%;
		padding:0.5%;
	}
	#check-btn, #times-btn{
		background: none;
		border:none;
		outline: none;
		margin:3%;
	}
	#times{
		margin-top:-2%;
		padding: 0.5%;
	}
	

	/*--------------------- INSTRUCTOR ACCOUNT --------------------- */

	.container{
		width:56.5%;
		cursor:pointer;
		height:46vh;
	}
	.inst-spec-stud-container{
		width:75%;
		cursor: pointer;
	}
	.container .schedule, .container .study_room, .container .discussions, .container .archives,
	.inst-spec-stud-container .lecture, .inst-spec-stud-container .resources, .inst-spec-stud-container .test, .inst-spec-stud-container .session{
		position: absolute;
		margin:2% 7%;
		width: 18%;
		float:left;
		transition:0.8s;
	}
	.container .schedule img, .container .study_room img, .container .discussions img, .container .archives img, .inst-spec-stud-container .lecture img, .inst-spec-stud-container .resources img, .inst-spec-stud-container .test img, .inst-spec-stud-container .session img{
		margin: 2% auto;
		width: 76%;
		border-radius:5px;
	}
	.container .schedule, .inst-spec-stud-container .lecture{
		margin-left:3%;
	}
	.container .study_room, .inst-spec-stud-container .resources{
		margin-left: 21%;
	}
	.inst-spec-stud-container .test{
		margin-left: 39%;
	}
	.container .archives{
		margin-left: 39%;
	}
	 .inst-spec-stud-container .session{
		margin-left: 57%;
	}
	.container .schedule:hover, .container .study_room:hover, .container .discussions:hover, .container .archives:hover {
		width:20%;
	}

	.container h4, .inst-spec-stud-container h4{
		margin-left:22%;
		width:fit-content;
		color:white;
		text-transform: capitalize;
		font-weight:300;
		margin-top: 4%;
		font-size:14pt;

	}
	.container a, .inst-spec-stud-container a{
		text-decoration: none;
	}

	.inst-nav-buttons, .stu-nav-buttons{
		width: 38.5%;
		height:79px;
		float: right;
		margin-top: -5.5%;
	}
	.inst-nav-buttons li, .stu-nav-buttons li{
		list-style: none;
		display:inline-flex;
		margin: -1.5% 3%;
		height:75px;
		text-transform: capitalize;
	}
	.inst-nav-buttons a:hover{
		background: #245d74;
		color:white;
	}
	.stu-nav-buttons a:hover{
		background:#8e4162;
		color:white;
	}
	.inst-nav-buttons li ul, .stu-nav-buttons li ul{
		position: absolute;
		top:77px;
		margin-left:-2%;
		list-style: none;
		display:none;
		width:fit-content;
	}
	.inst-nav-buttons li:hover ul, .stu-nav-buttons li:hover ul{
		display:block;
	}
	.inst-nav-buttons li ul li, .stu-nav-buttons li ul li{
		margin-left:-25%;
		height:50px;
		width: 90%;
	}
	.inst-nav-buttons li ul li a, .stu-nav-buttons li ul li a{
		height:47px;
		width:82%;
		line-height: 47px;
		margin: 0%;
		font-size: 14pt;
		text-align: center;
		background:white;
		padding:1%;
	}
	.inst-study-container-two{
		border:1px solid black;
		margin-top: -5.2%;
		padding: -3%;
	}
/*------------------------ INSTRUCTOR SCHEDULE PAGE ----------------------*/

	.inst-heading{
		font-weight: 600;
		font-size:18pt;
		text-transform: uppercase;
		padding: 1%;
		margin-bottom: 0;
	}

	.schedule-container{
		position: relative;
	}
	.schedule-card{
		background:#d5d6d3;
		width:79%;
		height:130px;
		margin:0% 0 2% 2%;
		box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
		border-radius: 2px;
	}
	.schedule-card h4{
		text-transform: capitalize;
		font-size: 14pt;
		margin: 2% 2% 2% 2%;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 1.5%;

	}
	.schedule-card h5{
		text-transform: capitalize;
		font-size: 12pt;
		margin:-1% 2%;
		font-weight: 300;
	}
	.schedule-card .schedule-class, .schedule-card .schedule-section{
		display: inline;
		float: left;
		margin: 2.4% 2%;
		text-transform: capitalize;
	}

	.schedule-card .schedule-date-time {
		display: inline;
		float: right;
		clear:both;
		margin: -7.5% 4%;
		text-transform: capitalize;
	}
	.schedule-card .clear{
		clear: both;
		display: block;
	}


/*-------------------------------- INSTRUCTOR STUDY ROOM ---------------------------*/


	.inst-stud-room-container, .inst-stud-room-resources-container{
		width:75%;
		margin: -4% auto;
		background: rgba(0,0,0,0.7);
		display: grid;
		grid-template-columns: 420px 420px;
		grid-gap: 20px;
		justify-content: space-evenly;
		padding-bottom:2%;
		padding-top:2%;
		border-radius:0px 0px 8px 8px;
	}
	#inst-stud-room-heading h3{
		margin-top:2%;
	}
	.inst-stud-room-container a{
		text-decoration: none;
		color:black;
	}
	.studyRoomCard, .studyRoomResourcesCard {
		margin-top:2%;
		position: relative;
		background: white;
		border-radius:6px;
	}
	.custom-shape-divider-top-1621680160 {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    overflow: hidden;
	    line-height: 0;
	}
	.custom-shape-divider-top-1621680160 svg {
	    position: relative;
	    display: block;
	    width: calc(100% + 1.3px);
	    height: 48px;
	}

	.custom-shape-divider-top-1621680160 .shape-fill {
	    fill: #245D74;
	}
	#sub, #desc{
		font-size: 14pt;
		text-transform: uppercase;
		font-weight: 900;
		text-align: center;
	}
	#desc{
		margin-top: 1vh;
		text-transform: capitalize;
		font-weight: 400;
		font-size:12pt;
		padding: 0% 5% 0% 5%;
	}
	#floatItems{
		display: grid;
		grid-template-columns:auto auto auto;
		grid-gap: 20px;
		justify-content: space-evenly;
		margin-bottom:-2%;
		
	}
	#dept, #class, #sec{
		font-size: 13pt;
	}
	
	.stud-room-form{
		width:90%;
		margin: 2% auto;
		background:#282923;
		border-radius: 5px;
		padding:1%;
	}
	.stud-room-form input{
		font-family: 300;
		font-size: 13pt;
		display:block;
		margin:4% auto; 
		padding: 1.5%;
		width:80%;
		background: #42433e;
		cursor: text;
		color:white;
		border:none;
		outline: none;
		border-radius: 10px;
	}
	.stud-room-form select{
		display:block;
		margin:4% auto; 
		font-size: 13pt;
		margin-top:0%;
		padding: 1.5%;
		border:none;
		outline: none;
		width:80%;
		border-radius: 10px;
		background: #42433e;
		color:#aaaeb4;
	}
	.stud-room-form button{
		font-size: 13pt;
		background-color: #245d74;
		color:white;
		width:35%;
		padding:1.3%;
		display: block;
		margin:4% auto;
		border-radius: 5px;
		outline: none;
		border: none;
		cursor: pointer;
	}
	

/*------------------------------ INSTRUCTOR SPECIFIC STUDY ROOM --------------------- */

		
	.inst-study-container, .stu-study-container{
		width:75%;
		background:#245d74;
		height:125px;
		margin:4% auto;
		border-radius:8px 8px 0px 0px;
		text-transform: uppercase;
	}
	.inst-study-container h3, .inst-study-container h4, .stu-study-container h4, .inst-stud-room-container h3, .stu-study-container h3{
		font-weight: 300;
		font-size:18pt;
		margin-top:-1%;
		padding:1%;
		margin-bottom: 2%;
		text-align:center;
		color: white;
	}
	.inst-study-container h4, .stu-study-container h4{
		font-size: 15pt;
		margin:-3% 3%;
		padding:1%;
		text-align:left;
	}
	.inst-study-container h4{
		text-align:center;
	}
	.inst-button, .inst-resources-button, .inst-schedule-button{
		background:#245d74;
		color:white;
		border:2px solid white;
		padding:0.5%;
		float:right;
		cursor: pointer;
		width:20%;
		font-size: 14pt;
		border-radius: 5px;
		margin: -2% 2%;
		
	}
	.inst-schedule-button{
		
		float:left;
		margin:-2% 2%;
	}
	.inst-spec-stud-container, .inst-stud-resources-container{
		background: rgba(0,0,0,0.7);
		width:75%;
		height:45vh;
		margin:-4% auto;
		border-radius:0px 0px 8px 8px;
	}
		.modal{
		position: fixed;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%) scale(0);
		transition: 200ms ease-in-out;
		border:1px solid black;
		border-radius: 5px;
		width:62%;
		background-color: white;
		z-index: 10;
	}
	.modal.active{
		transform: translate(-50%,-50%) scale(1);
	}
	.modal-header{
		padding:0.2% 4%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid black;
		background-color:white; 
	}
	.modal-header h4{
		font-size:16pt;
		text-transform:uppercase;
		margin-top: 1%;
		padding:0.2%;
		margin-bottom: 0.5%;
	}
	.modal-header .btn-close{
		background: none;
		outline: none;
		border: none;
		font-size: 2.25rem;
		cursor: pointer;
	}
	.modal-body{
		width:87%;
		/* height:70vh; */
		margin:3% auto;
		overflow:auto;
	}
	#overlay{
		position: fixed;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom:0;
		transition: 200ms ease-in-out;
		background-color: rgba(0,0,0,.5);
		pointer-events: none;
	}
	#overlay.active{
		opacity: 1;
		pointer-events: all;
	}
	#lecture-modal{
		width: 30%;
	}
	#schedule-modal{
		width: 45%;
	}

	/*-----------------------------INSTRUCTOR RESOURCES---------------------------*/

	.inst-study-container .teacher-name{
		text-align:left;
		margin-top:-5px;
	}
	
	.upload-file{
		margin: -4.5% 0 0 55%;
		width:fit-content;
	}
	.upload-file .input{
		color: white;
		outline: none;
		border: none;
		cursor: pointer;
		font-size: 12pt;
	}

	::-webkit-file-upload-button{
		background: white;
		color: black;
		border-radius: 5px;
		outline: none;
		border: none;
		padding: 2.8%;
		line-height: 10px;
		cursor: pointer;
		font-size: 12pt;
		font-weight: 600;
	}
	.inst-stud-room-resources-container{
		display: grid;
		grid-template-columns: 170px 170px 170px 170px;
		grid-row-gap: 40px;
		justify-content: space-evenly;
	}
	.studyRoomResourcesCard {
		background: rgba(0,0,0,0);
		border:1px solid white;
		border-radius: 4px;
	}
	.studyRoomResourcesCard img{
		width: 80%;
		padding:5% 10%;
		display:block;
		margin:0 auto;
		border-radius: 13%;
	}
	.studyRoomResourcesCard button{
		border: none;
		outline: none;
		text-decoration: none;
		color: white;
		text-align: center;
		text-transform: capitalize;
		background: rgba(0,0,0,0);
		cursor: pointer;
	}
	.studyRoomResourcesCard .uploaded-by{
		text-align: center;
		margin: 2% 0 0 3%;
		font-size: 11pt;
		font-weight: 300;
		color: #c6c9cb;
	}
	.studyRoomResourcesCard .file-name{
		text-align: center;
		margin: -1% 0 0 3%;
		font-size: 12pt;
		white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
		}
	


/*-------------------------STUDENT STUDY ROOM--------------------------------*/
	.stu_nav{
		margin:0;
		padding: 0;
		width:100%;
		border: 1px solid black;
		outline: none;
	}
	.stu-study-container{
		width:75%;
		background:#8e4162;
		height:120px;
		margin:4% auto;
		border-radius:8px 8px 0px 0px;
		text-transform: uppercase;
	}
	.custom-shape-divider-top-1621680160 .stu-shape-fill {
	    fill: #8e4162;
	}
	.stu-study-container h3{
		margin-top: -2%;
	}
	.stu-study-container h4{
		margin:-2% 3%;
	}
	#teacher_name{
		font-size:13pt;
		text-align:center;
		margin-bottom:0;
	} 
	.stu-button{
		background:#8e4162;
		color:white;
		border:2px solid white;
		padding:0.5%;
		float:right;
		cursor: pointer;
		width:17%;
		font-size: 14pt;
		border-radius: 5px;
		margin: -2% 2%;
		
	}
	.stu-approve-btn{
		border:1px solid green;
		background:green;
		padding:4% 20%;
		font-size:13pt;
		border-radius:8px;
		text-decoration: none;
		color:white;
	}
/*-------------------------INST ARCHIVES PAGE --------------------------------*/

	.inst-archives-top-container{
		width:90%;
		margin: 2% 2%;
		background: #245D74;
		border-radius:8px;
		height: 140px;
		padding-bottom: 1%;
	}
	.inst-archives-top-container h3{
		text-transform: uppercase;
		color: white;
		margin-top: 0%;
		text-align: center;
		font-weight:300;
	}
	.inst-archives-form{
		margin: 1% 1%;
		display: flex;
		max-height: 100px;
		align-items: center;
		color: white;
	}
	.inst-archives-top-container button{
		border-radius: 4px;
		float: right;
		width: 7%;
		padding: 8px;
		margin: -4% 3.6%;
		cursor: pointer;
		border: 1px solid white;
		outline: none;
		background: white;
		color: #245D74;
		font-weight: 800;
		font-size: 16px;
	}
	::-webkit-scrollbar {
	  height: 10px;
	  width: 8px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	  background: #d5d6d3; 
	  border-radius: 8px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888; 
	  border-radius: 8px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
	.inst-archives-form input{
		display: none;
	}
	.inst-archives-form label{
		cursor: pointer;
		text-align: center;
		border: 1px solid white;
		margin: 0 1.5% 0 2% ;
		padding: 0 1.4%;
		height: 50px;
		line-height: 50px;
		border-radius: 8px;
	}
	.inst-archives-form label:hover{
		background: white;
		color: #245D74;
		font-weight: 800;
	}
	.lableStyle{
		background : white;
		color :#245D74;
		font-weight: 800;
	}
	.inst-archives-main-container{
		overflow: auto;
		width: 79%;
		margin: -1% 3%;
		height: 60vh;
	}
	.inst-archives-card{
		background:#d5d6d3;
		width:95%;
		height:auto;
		margin:1% 0% 3% 0;
		box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
		border-radius: 2px;
		padding-bottom: 1%;
	}
	.inst-archives-card h5{
		margin: -0.5% 0 1% 2%;
		text-transform: capitalize;
	}
	.inst-archives-card em{
		font-weight:300;
	}
	.inst-archives-card .email{
		text-transform: lowercase;
	}
	.inst-archives-card-files{
		display: inline-block;
		/* grid-template-columns: 190px 190px 190px 190px;
		grid-row-gap: 5px;
		justify-content: space-evenly; */
		width: 250px;
		margin-left: 100px;
	}
	.inst-archives-card-files p{
		padding: 0% 2%;
		font-size:12pt;
		margin: 1% 0 2% 0;
	}
	.res-domain{
		font-weight:500;
	}


	/* /---------STUDENT ARCHIVES PAGE---------/ */
	.stu-archives-top-container{
		width:75%;
		background:#8e4162;
		height:17%;
		margin:2% auto;
		border-radius:8px 8px 0px 0px;
		text-transform: uppercase;
		padding-bottom: 1.2%;
	}
	.stu-archives-top-container h3{
		text-align: center;
		color: white;
		font-size: 18pt;
		font-weight: 550;
		margin-top: 0%;
	}
	.stu-archives-main-container{
		width: 75%;
		margin:-2% auto;
		background: rgba(0,0,0,0.7);
		height: 60vh;
	}
	.stu-archives-left-container{
		border-left: 1px solid #8e4162;
		border-bottom: 1px solid #8e4162;
		height: 60vh;
		width: 27%;
		background: #ebedef;
		color: black;
		overflow: auto;
		float: left;
	}
	.stu-archives-left-container h4{
		text-align: center;
		font-weight: 300;
		font-size: 14pt;
		margin-top: 0;
	}
	.stu-archives-left-container label{
		padding: 1% 3%;
		margin: 1%;
		display: block;
	}
	.progress {
	  height: 0.9em;
	  width: 80%;
	  display: block;
	  margin: 2% auto;
	  background-color: #c9c9c9;
	  position: relative;
	  border-radius: 7px; 
	}
	.progress:before {
	  content: attr(data-label);
	  font-size: 0.7em;
	  position: absolute;
	  text-align: center;
	  color: white;
	  
	  left: 0;
	  right: 0;
	}
	.progress .value {
	  background-color: #7cc4ff;
	  display: inline-block;
	  height: 100%;
	}
	::-webkit-progress-bar {
	  background-color: #808080;
	  border-radius: 7px;
	}
	::-webkit-progress-value {
	  background: #edb230;
	  border-radius: 7px;
	}
	.stu-archives-right-container{
		margin-left: 25.5%;
		width: 72.5%;
		height: 60vh;
		overflow: auto;
	}
	.stu-archives-file{
		background: rgba(0,0,0,0);
		border: 1px solid white;
		padding: 1%;
		display: inline-block;
		width: 20%;
		margin: 4% 0 2% 8%;
		border-radius: 4px;
	}
	.stu-archives-file img{
		width: 100%;
		border-radius: 4px;
	}
	.stu-archives-file button{
		border: none;
		outline: none;
		text-decoration: none;
		color: white;
		text-align: center;
		text-transform: capitalize;
		background: rgba(0,0,0,0);
		cursor: pointer;
		width: 100%;
	}
	.stu-archives-file p{
		white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
		margin-bottom: 0;
		color: white;
		text-align: center;
	}
	.error-msg{
		text-align: center;
		font-size:13pt;
	}
	

	/* INSTRUCTOR QUIZ */
	.inst-quiz-container{
		width:75%;
		height: 55vh;
		background: rgba(0,0,0,0.7);
		width:75%;
		margin:-4% auto;
		border-radius:0px 0px 8px 8px;
	}
	.inst-quiz-container .instr{
		text-align: center;
		color: white;
		margin: 0 0 2% 0;
	}
	#textarea{
		margin: 0 auto;
		display: block;
		border-radius: 3px;
		outline: none;
		border: none;
		padding: 2%;
		resize: none;
	}
	#textarea::placeholder{
		text-align: center;
		font-size: 12pt;
	}
	.inst-quiz-container button{
		border: none;
		display: inline;
		margin: 1.5% 30%;
		background: #245d74;
		padding: 0.5%;
		outline: none;
		color: white;
		font-size: 12.5pt;
		border-radius: 8px;
		cursor: pointer;
		width:15%;
	}

	/* -----------------BACK BUTTON--------------------- */
	.back-btn, .discussion-back-btn{
		color:white;
		margin:0% 0 0 2%;
		float:left;
		width:3%;
		border-radius:50%;
	}
	.back-btn img{
		border-radius:50%;
	} 
	.back-btn :hover{
		box-shadow:5px 3px 10px 4px rgba(0,0,0,0.4);
	}
	/*-------------------W3-DISCUSSION-ROOM----------------------*/
	.inst-dis-cont, .stu-dis-cont{
		overflow: auto;
		height: 75.3vh;
	  }
	  .inst-dis-left-msg{
		background: #245d74;
	  }
	  .stu-dis-left-msg{
		background:#8e4162;
	  }
	  .inst-dis-left-msg .text, .stu-dis-left-msg .text {
		padding: -1%;
		margin: -3% 0 -1% 0;
	  }
	  .dis-right-msg .text{
		padding: -1% 0 -1% 0;
		margin: -1% 0 -2% 0;
	  }

	  #sh_info_icon{
		margin: -9.5% 3%;
		float:right;
		width:5%;
		padding-left:2%;
		border:1px solid #aaaeb4;
		border-radius:50%;
		background:#aaaeb4;
		cursor:pointer;
	}

	/* PROFILE */

	.profile-cont {
		margin-left: 30%;
		
	}
	  .profile-cont div{
		/* padding: 0.1% 0 0 0; */
		font-size: 14pt;
		text-transform: capitalize;
	}
	  
}

