#tit{
    font-size: 6vh; 
    color: white;
    font-weight: 650;
}
#subtit{
    font-size: 2vh;
    font-style: italic;
    color: white;
    position: absolute;
    top: 70%;
    margin-left: 15em ;
    font-weight: 500;
}
#box{
    background-color: black; 
    opacity: 60%;
    width: 75vh;
    margin: 10vh auto;
}
#box form{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
#box .boxtit{
    color: white;
    font-size: 4vh;
    text-align: center;
    margin: 0 0 8vh;
    font-weight: 500;
}
#box .form-control{
    min-height: 3vw;
    border-radius: 9px;
    width: 40vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#box .btn{
    min-height: 3vw;
    border-radius: 15px;
    width: 20vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
}
#box .form-check-label{
    color: white;
    margin-left: 10vh; 
}
#box .float-right{
    margin-right: 10vh;
    font-style: italic;
}
#box .text-center{
    color: white;
    font-size: 2.5vh;
    margin: 3vh 2vh 0vh 2vh;
}
#box .text-center a{
    font-style: italic;
}