{% extends 'student/base.html' %}
{% include 'student/header.html' %}

{% block body %}

<div class="stu-study-container">
    <h3 class="w3-margin-top"> SUBJECT : {{ sh_name }}</h3>
    <h4 class="w3-show-inline-block"> Teacher : {{ insName }}</h4>
    <h4 title="Cummulative Score acquired by you in every quiz" class="w3-right w3-white w3-padding-small w3-round" style="color:#8e4162 !important; margin-top:-1%;"> Score : {{ score }}</h4>
</div>
 
<div class="inst-spec-stud-container">
  <div class="lecture" title="Lecture">
    {% if session_link %}
    <a href="{{ session_link }}" target="_blank" style="cursor: pointer;">
    {% else %}
    <a href="javascript:void(0)" style="cursor: not-allowed;" title="Session Ended">
    {% endif %}
      <img src="{{ url_for('static', filename = 'assets/meet2.jpg') }}" alt="Lecture">
      <h4>Lectures</h4>
    </a>
    </a>
  </div>
  <div class="resources" title="Resources">
    <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/{{ subjectId }}/{{ sh_name }}/resources">
      <img src="{{ url_for('static', filename = 'assets/resources.png') }}" alt="resources">
      <h4>materials</h4>
    </a>
  </div>
  <div class="test" title="Quiz">
    <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/{{ subjectId }}/{{ sh_name }}/quiz">
      <img src="{{ url_for('static', filename = 'assets/stud_Quiz.png') }}" alt="test">
      <h4 style="margin-left:28%">quiz</h4>
    </a>
  </div>
  <div class="session" title="Discussions">
    <a  href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/{{ subjectId }}/{{ sh_name }}/discussion" >
      <img src="{{ url_for('static', filename = 'assets/discussions.png') }}" alt="Discussions">
      <h4>discussions</h4>
    </a>
  </div>
</div>

{% endblock %}





