<!DOCTYPE html>
<html>
<head>
  <title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/title_logo.ico') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

  <div class="stu-nav-w3 w3-bar w3-white w3-border w3-large w3-hide-small">
    <a href="/student/{{ stuId }}" class="w3-bar-item" style="padding:0" >
        <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" width="100%"style="width:200px;" alt="Shaala Loka Logo"/>
    </a>
    <div class="w3-right">
        <span><a href="/student/{{ stuId }}/profile" class="w3-bar-item w3 w3-padding-24 w3-mobile">Profile</a></span>
        <span><a href="/logout" class="w3-bar-item w3 w3-padding-24 w3-mobile">Log Out</a></span> 
    </div>
  </div>

  <div class="welcome">
    <h2><b> Welcome, {{ stuName }}! </b></h2>
  </div>

  <div class="container">
    <div class="schedule">
      <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/schedule">
        <img src="{{ url_for('static', filename = 'assets/schedule.png') }}" alt="schedule">
        <h4>schedule</h4>
      </a>
    </div>
    <div class="study_room">
      <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/study-hall">
        <img src="{{ url_for('static', filename = 'assets/study_room.png') }}" alt="study_room">
        <h4>study hall</h4>
      </a>
    </div>
    <div class="archives">
      <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/archives">
        <img src="{{ url_for('static', filename = 'assets/archives.png') }}" alt="archives">
        <h4>archives</h4>
      </a>
    </div>
  </div>
  
</body>
</html>