
<!DOCTYPE html>
<html>
<head>
  <title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'quizStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/title_logo.ico') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

    <div class="stu-nav-w3 w3-bar w3-white w3-border w3-large">
        <a href="/student/{{ stuId }}" class="w3-bar-item" style="padding:0" >
            <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" width="100%"style="width:200px;" alt="Shaala Loka Logo"/>
        </a>
        <div class="w3-right">
            <span><a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/schedule" class="w3-bar-item w3 w3-padding-24 w3-mobile">Schedule</a></span>
            <span><a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/study-hall" class="w3-bar-item w3 w3-padding-24 w3-mobile">Study Room</a></span>
            <span><a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/archives" class="w3-bar-item w3 w3-padding-24 w3-mobile">Archives</a></span>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-white w3-padding-24 w3-border-0 w3-padding-large w3-mobile"><span class="w3-large" style="font-weight: 900;">☰</span></button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                  <span><a href="#" class="w3-bar-item w3-padding-16 ">Profile</a></span>
                  <span><a href="/logout" class="w3-bar-item w3-padding-16">Log Out</a></span>
                </div>
            </div>
        </div>
    </div>
    

<div class="stu-study-container">
    <br>
    <a href="/student/{{ orgId }}/{{ stuId }}/{{ stuName }}/study-hall/{{ subjectId }}/{{ sh_name }}" class="back-btn" style="margin-top:-1%">
        <img src="{{ url_for('static', filename = 'assets/stu_back.png') }}" width="95%" height="95%">
      </a>
    <h3 >SUBJECT : {{ sh_name }}</h3>
    <h4 class="heading"> Teacher : {{ insName }}</h4>
    <!-- start Quiz button -->      
</div>
      
<div class="stu-quiz-container">
    {% if questions%}
    <div class="start_btn"><button id="btn1">Start Quiz</button></div>
    {% else %}
    <div class="start_btn"><button style="cursor: not-allowed; color: black;" disabled>Start Quiz</button></div>
    {% endif %}
</div>
      <!-- Info Box -->
<div class="info_box">
    <div class="info-title"><span>Some Rules of this Quiz</span></div>
    <div class="info-list">
        <div class="info">1. You will have only <span>30 seconds</span> per question.</div>
        <div class="info">2. Once you select your answer, it can't be undone.</div>
        <div class="info">3. You can't select any option once time goes off.</div>
        <div class="info">4. Only the first attempt is considered.</div>
        <div class="info">5. Do not refresh, the content will be lost.</div>
        <div class="info">6. You'll get your scores based on your correct answers.</div>
    </div>
    <div class="buttons">
        <button class="quit" id="btn2">Exit Quiz</button>
        <button class="restart">Continue</button>
    </div>
</div>
<div id="overlays"></div>
      <!-- Quiz Box -->
<div class="quiz_box">
    <header>
        <div class="title">Shaala Loka Quiz</div>
        <div class="timer">
            <div class="time_left_txt">Time Left</div>
            <div class="timer_sec">30</div>
        </div>
        <!-- <div class="time_line"></div> -->
    </header>
    <section>
        <div class="que_text">
            <!-- Here I've inserted question from JavaScript -->
        </div>
        <div class="option_list">
            <!-- Here I've inserted options from JavaScript -->
        </div>
    </section>

    <!-- footer of Quiz Box -->
    <footer>
        <div class="total_que">
            <!-- Here I've inserted Question Count Number from JavaScript -->
        </div>
        <button class="next_btn">Next Que</button>
    </footer>
</div>
  
      <!-- Result Box -->
<div class="result_box">
    <!-- <div class="icon">
        <i class="fas fa-crown"></i>
    </div> -->
    <div class="result-text">RESULT</div>
    <div class="complete_text">You've completed the Quiz!</div>
    <div class="score_text">
        <!-- Here I've inserted Score Result from JavaScript -->
    </div>
    <div class="buttons">
        <button class="restart" style="display: none"></button>
        <button class="quit">Quit Quiz</button>
    </div>
</div>

<script type="text/javascript">
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var e1 = document.documentElement;
    btn1.addEventListener("click", ()=>{
        if(e1.requestFullscreen){
            e1.requestFullscreen()
        }
    });
    btn2.addEventListener("click", ()=>{
        if(document.exitFullscreen){
            document.exitFullscreen()
        }
    });
    document.addEventListener('keyup', function(e){
        if(e.keyCode == 27)
          window.location.reload();
    });
    document.onkeydown = function (e) {
        return false;
    }
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


<script type="text/javascript">
    let questions = {{questions | tojson}};
    let orgId = {{ orgId | tojson }};
    let stuId = {{ stuId | tojson }};
    let stuName = {{ stuName | tojson }};
    let subjectId = {{ subjectId | tojson }};
    let sh_name = {{ sh_name | tojson }};
</script>
  
<!-- Inside this JavaScript file I've inserted Questions and Options only -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'questions.js') }}"></script> -->

<!-- Inside this JavaScript file I've coded all Quiz Codes -->
<script type="text/javascript" src="{{ url_for('static', filename = 'quizScript.js') }}"></script>

<!-- {% set quest1 = question %} -->


</body>
</html>