<!DOCTYPE html>
<html>
<head>
  <title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/title_logo.ico') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

  <div class="stu-nav-w3 w3-bar w3-white w3-border w3-large w3-hide-small">
    <a href="/student/{{ stuId }}" class="w3-bar-item" style="padding:0" >
        <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" width="100%"style="width:200px;" alt="Shaala Loka Logo"/>
    </a>
    <div class="w3-right">
        <span><a href="/student/{{ stuId }}/profile" class="w3-bar-item w3 w3-padding-24 w3-mobile">Profile</a></span>
        <span><a href="/logout" class="w3-bar-item w3 w3-padding-24 w3-mobile">Log Out</a></span> 
    </div>
  </div>
    <div class="w3-right"> 
      <a href="/{{ orgId }}/Student/{{ stuId }}/delete-profile" class="w3-button w3-margin w3-red w3-hover-red w3-border-0 w3-round w3-padding w3-large" onclick="return confirm('Are You Sure, you want to Delete your Profile?')">Delete Profile</a>
    </div>
    <div class="w3-container w3-padding w3-section w3-large" style="margin:1% auto;">
      <h3 class="w3-center"><b>PROFILE</b></h3> 
      <div class="profile-cont">
        <div class="w3-margin"><p><b>Student Id :</b> {{ stuId }} </p></div>
        <div class="w3-margin"><p><b>Student Name :</b> {{ stuName }} </p></div>
        <div class="w3-margin"><p><b>Organization Id :</b> {{ orgId }} </p></div>
        <div class="w3-margin"><p><b>Organization Name :</b> {{ orgName }} </p></div>
        <div class="w3-margin"><p><b>Email Id :</b><span style="text-transform: lowercase"> {{ email_id }} </span></p></div>
        <div class="w3-margin"><p><b>Department :</b> {{ dept }} </p></div>
        <div class="w3-margin"><p><b>Level :</b> {{ level }} </p></div>
        <div class="w3-margin"><p><b>Section :</b> {{ section }} </p></div>
      </div>
    </div>
</body>
</html>