<!DOCTYPE html>
<html>
<head>
	<title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
    <link rel="shortcut icon" href="/static/assets/title_logo.ico">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="/{{ orgId }}">
                <img src="/static/assets/Shaala_Loka_Logo.png" alt="Shaala Loka Logo"/>
            </a>
        </div>
        <div class="org-nav-buttons">
            <ul>
                <li>
                    <a href="">
                        <p>My Profile</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>Log Out</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="welcome">
        <h2> Welcome, {{ orgId }}!</h2>
    </div>

    <div class="org-container">
        <div class="instructor">
            <a href="/OrgInstructor">
                <img src="/static/assets/3.png" alt="organisation">
                <h3>Instructor  </h3>
            </a>
        </div>
        <div class="student">
            <a href="/OrgStudent">
                <img src="/static/assets/2.png" alt="instructor">
                <h3>student </h3>
            </a>
        </div>
    </div>
</body>
</html>