# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Final Year Project - Shaala Loka\flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
