@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
	font-family: 'Lora', serif !important;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
	background: url("assets/Background.png") no-repeat;
	background-size: cover;

}
#root:not(.withChat) {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#root.withChat {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
    margin-top: 20px;
}

/* video section */

.container {
    width: calc(100% - 5px);
    height: 100%;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 2%;
    overflow-x: auto;

}
::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d5d6d3; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.to-join input{
    border:none;
	outline: none;
	background: #42433e;
	cursor: text;
	color:white;
}
#chat-input{
    height: 110%;
    background: #42433e;
    color:white;
    width:100%;
}
::placeholder{
	color:#aaaeb4;
	text-transform: capitalize;
}
:-ms-input-placeholder{
	color:#aaaeb4;
	text-transform: capitalize;
}
::-ms-input-placeholder{
	color:#aaaeb4;
	text-transform: capitalize;
}
.to-join button{
    border:none;
    outline: none;
    cursor:pointer;
    color:white;
}
.participant {
    margin-bottom: 10px;
    margin-right: 5px;
    display: grid;
    grid-template-rows: auto 20px;
}
.participant div {
    text-align: center;
}
.participant div video {
    background-color:black;
    border: 1.5px solid black;
    border-radius:4px;
}
.participant div video:not(.trackZoomed) {
    width: 240px;
    height: 180px;
}
.participant .label {
    background: #42433e;
    color:white;
    text-transform: capitalize;
    padding-bottom: 2%;
    border-radius: 4px;
}
.participantZoomed {
    width: 100%;
    height: calc(100% - 5px);
    grid-template-rows: auto 30px;
}
.participantHidden {
    display: none;
}
.trackZoomed {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.participantZoomed div video:not(.trackZoomed) {
    display: none;
}
.participantHidden div video {
    display: none;
}
.participantHidden .label {
    display: none;
}
.participantZoomed .label {
    /* margin-top: 8px;
    width: fit-content;
    padding: 0 40vh;
    margin: auto; */
    display: none;
}

/* chat section */

#root.withChat #chat {
    width: calc(100% - 10px);
    display: grid;
    grid-template-rows: auto 30px;
    border: 1px solid black;
    background:white;
    padding: 5px;
}
#root:not(withChat) #chat {
    display: none;
}
#chat #chat-scroll {
    overflow: auto;
}
#chat-scroll::-webkit-scrollbar {
    display: none;
}
#chat-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
#chat #chat-content {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1em;
    max-height: 1px;
}
