{% extends 'instructor/base.html' %}

{% block body %}

<div class="inst-nav-w3 w3-bar w3-white w3-border w3-large">
  <a href="/instructor/{{ insId }}" class="w3-bar-item" style="padding:0" >
      <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" width="100%"style="width:200px;" alt="Shaala Loka Logo"/>
  </a>
  <div class="w3-right">
      <span><a href="/{{ orgId }}/{{ insId }}/{{ insName }}/schedule" class="w3-bar-item w3 w3-padding-24 w3-mobile">Schedule</a></span>
      <span><a href="/{{ orgId }}/{{ insId }}/{{ insName }}/study-hall" class="w3-bar-item w3 w3-padding-24 w3-mobile">Study Room</a></span>
      <span><a href="/{{ orgId }}/{{ insId }}/{{ insName }}/archives" class="w3-bar-item w3 w3-padding-24 w3-mobile">Resources</a></span>
      <div class="w3-dropdown-hover w3-right">
          <button class="w3-white w3-padding-24 w3-border-0 w3-padding-large w3-mobile"><span class="w3-large" style="font-weight: 900;">☰</span></button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <span><a href="#" class="w3-bar-item w3-padding-16 ">Profile</a></span>
            <span><a href="/logout" class="w3-bar-item w3-padding-16">Log Out</a></span>
          </div>
      </div>
  </div>
</div>

{% endblock %}