<!DOCTYPE html>
<html>
<head>
  <title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'registrationLogin.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'assets/title_logo.ico') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

  <div class="inst-nav-w3 w3-bar w3-white w3-border w3-large w3-hide-small">
    <a href="/instructor/{{ insId }}" class="w3-bar-item" style="padding:0" >
        <img src="{{ url_for('static', filename = 'assets/Shaala_Loka_Logo.png') }}" width="100%"style="width:200px;" alt="Shaala Loka Logo"/>
    </a>
    <div class="w3-right">
        <span><a href="#" class="w3-bar-item w3 w3-padding-24 w3-mobile">Profile</a></span>
        <span><a href="/logout" class="w3-bar-item w3 w3-padding-24 w3-mobile">Log Out</a></span> 
    </div>
  </div>

  <div class="welcome">
    <h2> Welcome, {{ insName }}!</h2>
  </div>

  <div class="container">
    <div class="schedule">
      <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/schedule">
        <img src="{{ url_for('static', filename = 'assets/schedule.png') }}" alt="schedule">
        <h4>schedule</h4>
      </a>
    </div>
    <div class="study_room">
      <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/study-hall">
        <img src="{{ url_for('static', filename = 'assets/study_room.png') }}" alt="study_hall">
        <h4>study hall</h4>
      </a>
    </div>
    <div class="archives">
      <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/archives">
        <img src="{{ url_for('static', filename = 'assets/archives.png') }}" alt="archives">
        <h4>resources</h4>
      </a>
    </div>
  </div>  
  
</body>
</html>