{% extends 'instructor/base.html' %}
{% include 'instructor/header.html' %}

{% block body %}

  <div class="inst-study-container">
    <h3> SUBJECT : {{ sh_name }} [{{ level }}-{{ section }}]</h3>
    <br>
    <h4> Teacher : {{ insName }}</h4>

    <button data-modal-target="#schedule-modal" class="inst-schedule-button"> Create Schedule </button>
    <button data-modal-target="#modal" class="inst-button"> List of Students </button>
  </div>

    <div class="inst-spec-stud-container">
      <div class="lecture" title="Lecture">
      <a data-modal-target="#lecture-modal" >
      <img src="{{ url_for('static', filename = 'assets/meet2.jpg') }}" alt="Lecture">
      <h4>Lectures</h4>
      </a>
    </div>
    <div class="resources" title="Resources">
      <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/resources">
      <img src="{{ url_for('static', filename = 'assets/resources.png') }}" alt="resources">
      <h4>materials</h4>
      </a>
    </div>
    <div class="test" title="Quiz">
      <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/quiz">
      <img src="{{ url_for('static', filename = 'assets/inst_Quiz.png') }}" alt="test">
      <h4 style="margin-left:30%">quiz</h4>
      </a>
    </div>
    <div class="session" title="Discussion room">
      <a  href="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/discussion" >
      <img src="{{ url_for('static', filename = 'assets/discussions.png') }}" alt="discussion">
      <h4>discussions</h4>
      </a>
    </div>
    </div>


<!------------------ LIST OF STUDENTS MODAL POPUP -------------------->
    <div class="modal" id="modal">
      <div class="modal-header" >
        <h4 class="modal-title"><b>List Of Students</b></h4>
        <button data-close-button class="btn-close">&times</button>
      </div>
      <div class="modal-body">
        <table>
        <tr>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Scores</th>
        </tr>
        {% if docs %}
        {% for doc in docs %}
        <tr>
          <td>{{ doc.to_dict()['student_id'] }}</td>
          <td>{{ doc.to_dict()['student_name'] }}</td>
          <td>{{ doc.to_dict()['score'] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>
      </div>
    </div>
    <div id="overlay"></div>


<!--------------------- LECTURE MODAL POPUP ------------------------->
    <div class="modal" id="lecture-modal">
      <div class="modal-header" >
        <h4 class="modal-title"><b>Schedule Lecture</b></h4>
        <button data-close-button class="btn-close">&times</button>
      </div>
      <div class="modal-body">
        <p style="text-align: justify;">Please enter the valid URL for scheduling a session. On clicking Start Session you will be redirected to the Session. By clicking on End Session your Session will no longer be open for new students to enter or ends the session.</p>
        <form class="stud-room-form" action="{{ url_for('instructorSessionLink', orgId=orgId, insId=insId, insName=insName, subjectId=subjectId, sh_name=sh_name) }}" method="POST">
          <br>
          <input type="url" name="meetLink" id="meetLink" placeholder="Enter the link.">
          <button name="submit" type="submit" onClick="javascript: window.open(document.getElementById('meetLink').value);">Start Session</button>
        <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/clear-session-link" class="w3-button w3-red w3-hover-red w3-round-large w3-margin-bottom w3-large w3-padding-small" style=" display:block; width:35%; margin:0 auto;">End Session</a>
        </form>
      </div>
    </div>
    <div id="overlay"></div>

<!----------------------- SCHEDULE MODAL POPUP ---------------------------->
    <div class="modal" id="schedule-modal">
      <div class="modal-header" >
        <h4 class="modal-title"><b>Schedule Next Session</b></h4>
        <button data-close-button class="btn-close">&times</button>
      </div>
      <div class="modal-body">
        <form class="stud-room-form" action="{{ url_for('studyHallNewSchedule', orgId=orgId, insId=insId, insName=insName, subjectId=subjectId, sh_name=sh_name) }}" method="POST">
          <br>
          <input type="text" name="topic_name" placeholder="Topic" required>
          <input type="date" name="date"  required>
          <label class="w3-text-white" style="margin: 0 10%;">Start Time:</label>
          <input type="time" name="time"  required>
          <!-- <label class="w3-text-white" style="margin: 0 10%;">End Time:</label>
          <input type="time" name="endtime"  required> -->
          <button name="submit" type="submit"> Schedule </button>
        </form>
      </div>
    </div>
    <div id="overlay"></div>

    
<script >
  const openModalButtons = document.querySelectorAll('[data-modal-target]')
  const closeModalButtons = document.querySelectorAll('[data-close-button]')
  const overlay = document.getElementById('overlay')

  openModalButtons.forEach(button => {
    button.addEventListener('click', () => {
      const modal = document.querySelector(button.dataset.modalTarget)
        openModal(modal)
    })
  })

  closeModalButtons.forEach(button => {
    button.addEventListener('click', () => {
      const modal = button.closest('.modal')
        closeModal(modal)
    })
  })

  function openModal(modal){
    if(modal == null) return
    modal.classList.add('active')
    overlay.classList.add('active')
  }

  function closeModal(modal){
    if(modal == null) return
    modal.classList.remove('active')
    overlay.classList.remove('active')
  }
</script>

{% endblock %}