{% extends 'instructor/base.html' %}
{% include 'instructor/header.html' %}

{% block body %}

<div>
    {% if error %}
    <p class="error-msg" style="color: red"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <p class="login-link" style="color:green;"><b>{{ message }}</b></p>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="inst-study-container">
    <br>
    <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/study-hall/{{ subjectId }}/{{ sh_name }}" class="back-btn">
        <img src="{{ url_for('static', filename = 'assets/inst_back.png') }}" width="95%" height="95%">
      </a>
    <h3> SUBJECT : {{ sh_name }}</h3>
    <h4 style="margin-top:-1.5%"> Teacher : {{ insName }}</h4>
</div>

<div class="inst-quiz-container"><br>
    <p class="instr">Please enter the content for generating the Quiz. </p>
    <form action="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/quiz" method="POST">
        <div class="quiz_form">
            <textarea id="textarea" placeholder="Enter the content" name="textarea" rows="8" cols="80" required="required"></textarea>
            <button type="submit" value="submit">Generate Quiz</button>
            <a href="/{{ orgId }}/{{ insId }}/{{ insName }}/{{ subjectId }}/{{ sh_name }}/clear-quiz" class="w3-button w3-red w3-hover-red w3-round-large w3-margin-bottom w3-large w3-padding-small " style=" border:1px solid white; width:15%; margin:1% -20%;" title="On clicking End Quiz, the quiz will no longer be active for students.">End Quiz</a>
        </div>
    </form>
    
</div>

{% endblock %}