<!DOCTYPE html>
<html>
<head>
	<title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="/static/registrationLogin.css">
</head>
<body>
  <nav>
    <div class="nav-logo">
      <a href="index.html">
      <img src="/static/assets/Shaala_Loka_Logo.png" />
    </a>
  	</div>
  </nav>

  <h2 class="heading">instructor registration</h2>
  <h4 class="login-link"> Have an account? <a href="/Login"> Login to your account </a> </h4>
  <div class="form">
  	<form>
  		<br><br>
      <input type="text" name="instructor_id" id="instructor_id" placeholder="Instructor Id" pattern="[A-Za-z]{3}[A-Za-z0-9]{3-9}" required>
      <input type="text" name="instructor_name" id="instructor_name" placeholder="Instructor name" pattern="[a-zA-Z\s]+$" required>
      <input type="text" name="org_id" id="org_id" placeholder="Organization Id" required>
      <input type="email" name="email_id" id="email_id" placeholder="Email-Id" required>
      <input type="text" name="designation" id="designation" placeholder="designation" required>
      <input type="text" name="department" id="department"  placeholder="department" required>
      <input type="password" name="password" id="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password"  required>

  		<input type="password" name="password_two" id="password_two" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Confirm your Password" pattern="^\S{6,}$" required>

  		<button name="submit" type="submit"> sign up </button>
  	</form>
  </div>
</body>
</html>
