<!DOCTYPE html>
<html>
<head>
	<title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="/static/registrationLogin.css">
</head>
<body>
  <nav>
    <div class="nav-logo">
      <img src="/static/assets/Shaala_Loka_Logo.png" />
  	</div>
  </nav>

  <h2 class="heading">login</h2>
  <h4 class="login-link"> Don't have an account? <br> <a href="/OrgRegistration"> Organization Registration</a> |
  <a href="/InstructorRegistration"> Instructor Registration</a> |
  <a href="/StudentRegistration"> Student Registration</a></h4>
  <div class="form">
  	<form>

  		<br>
  		<input type="text" name="id" id="id" placeholder="Id" required>
  		<input type="password" name="password" id="password" placeholder="Password" required>
  		
  		<button name="submit" type="submit"> sign in </button>
  	</form>
  </div>
</body>
</html>