<!DOCTYPE html>
<html>
<head>
	<title>Shaala Loka</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/registrationLogin.css">
  
</head>
<body>

  <nav>
    <div class="nav-logo">
    <a href="/OrgLanding">
      <img src="static/Shaala_Loka_Logo.png" />
    </a>
    </div>
    <div class="org-nav-buttons">
      <ul>
        <li>
          <a href="">
            <p>My Profile</p>
          </a>
        </li>
        <li>
          <a href="">
            <p>Log Out</p>
          </a>
        </li>
      </ul>
      
    </div>
  </nav>


  <div class="table">
    <table>

      <thead>
        <tr>
        <th>id</th>
        <th>name</th>
        <th>email-id</th>
        <th>level</th>
        <th>section</th>
        <th>department</th>
        <th>approval status</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td>adffgh</td>
          <td>adffghfghjklllhjbhjbhlb</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
        </tr>
        <tr>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
        </tr>
        <tr>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
        </tr>
        <tr>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
        </tr>
        <tr>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
          <td>adffgh</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!------------------- JAVA SCRIPT------------------>
  
  
</body>
</html>